@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    padding-right: 30px;
}

a:hover {
    cursor: pointer;
}

.logo {
    margin-left: 45px;
}
img {
    padding-left: 10px;
}

img:hover {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
}
.header {
    background-image: url(./img/imageHeader.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    margin: 3rem 10rem;
}

.inner-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right {
    margin-right: 10rem;
}

.header-text {
    width: 100%;
    text-align: center;
    color: white;
}

.header-text-1 {
    font-size: 63px;
    font-weight: bold;
    width: 558px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header-text-2 {
    width: 465px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding: 10px;
}

.btn {
    margin-top: 50px;
    text-align: center;
}

.btn button {
    width: 236px;
    height: 52px;
    padding: 16px 0px 16px   0px;
    background: #2091F9;
    border-radius: 35px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.feat {
    margin-top: 30px;
    width: 100%;
}

.feat-header {
    text-align: center;
}

.feat-title {
    font-size: 55px;
    font-weight: 300;
}

.feat-text {
    margin-top: 30px;
    width: 406px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: rgb(141, 131, 131);
}

.feat-content {
    padding: 20px;
    width: 894px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.colum-text-1 {
    padding: 10px;
    width: 233px;
    font-size: 19px;
    font-weight: bold;
}

.colum-text-2 {
    padding: 10px;
    width: 242px;
    color: #374754;
}

.feat-tooter {
    width: 100%;
}

.fastest {
    width: 100%;
    margin-top: 30px;
}

.fastest-colum {
    width: 1221px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.fastest-left {
    width: 520px;
}

.fastest-title {
    font-size: 58px;
    
}

.fastest-text {
    font-size: 30px;
    color: #374754;
    margin-bottom: 50px;
}
.screen-img {
    width: 100%;

}
.prototyping {
    margin-top: 100px;
    width: 100%;
}

.prototyping-colum {
    width: 1347px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.prototyping-right {
    width: 544px;
    padding: 20px

}

.prototyping-text-1 {
    font-size: 53px;
    margin-bottom: 40px;
}

.prototyping-text-2 {
    margin-top: 10px;
    color: #374754;
}
.prototyping-form {
    margin-top: 30px;
}

.prototyping-form > input {
    width: 273px;
    height: 54px;
    border-radius: 39px;
    padding: 19px 39px 19px 39px;
    border: 1px solid lightgray;
}

.prototyping-form > input:focus {
    outline: none;
}
.prototyping-form > span > button {
    width: 172px;
    height: 58px;
    border-radius: 35px;
    padding: 19px 38px 19px 38px;
    border: none;
    background-color: #2091F9;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.partners {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.item {
    margin-top: 50px;
}

.ibm {
    margin-top: 100px;
    text-align: center;

}

.ibm-logo {
    margin-top: 50px;
}

.ibm-text {
    width: 954px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #374754;
}

.avatar {
    margin-top: 50px;
    width: 183px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.avatar-text {
    font-size: 18px;
    color: #374754;
}

.pricing {
    width: 100%;
    height: 1110px;
    margin-top: 100px;
    background: #252B42;
    margin-top: 100px;
}
.pricing-title {
    padding-top: 58px;
    font-size: 58px;
    color: #FFFFFF;
    text-align: center;
}

.pricing-text {
    width: 330px;
    font-size: 19px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.pricing-colum {
    margin-top: 80px;
    width: 1105px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.pricing-colum-1 {
    margin-top: 43px;
    width: 305px;
    height: 585px;
    background: white;
    border-radius: 7px;
    text-align: center;
}

.pricing-colum-1 > h3 {
    margin-top: 46px;
}

.pricing-colum-text {
    margin-top: 5px;
    width: 141px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    color: #374754;
}

.money {
    width: 143px;
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.money-text {
    font-size: 77px;
    font-weight: bold;
}

    .money-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
    }

.money-text-1 {
    font-size: 30px;
    font-weight: bold;
}

#text {
    padding: 12px;
    font-size: 16px;
    color: #374754;
}

.btn-1 {
    margin-top: 20px;
}

.btn-1 > button {
    width: 255px;
    height: 56px;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: white;
    background: #2091F9;
    border: none;
    font-size: 16px;
}
.pricing-colum-text-2 {
    margin-top: 7px;
    width: 141px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}
.pricing-colum-2 {
    padding-top: 78px;
    width: 337px;
    height: 672px;
    background: #2091F9;
    border-radius: 7px;
    text-align: center;
    color: white;
}

#text-1{
    padding: 11px;
    font-size: 18px;
    color: white;
}

.btn-2 {
    margin-top: 20px;
}

.btn-2 > button {
    margin-top: 10px;
    width: 255px;
    height: 56px;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: #2091F9;
    background: white;
    border: none;
    font-size: 16px;
}
.feat-footer > img {
    width: 100%;    
}
.footer {
    width: 100%;
}
.footer .grid-show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: #13233f;
}
.grid-show .location {
    line-height: 30px;
    margin: 30px 20%;
    color: mintcream;
    margin-top: 25%;
}
.grid-show .location .p-title {
    font-size: 25px;
    font-weight: bold;
}
.grid-show .location .part {
    font-size: 17px;
}
.icons {
    /* line-height: 10px; */
    margin-top: 20%;
}
.icons p {
    color: mintcream;
}
.icons .logo1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.icons .logo2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.icons img {
    width: 15%;
}
