body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0;
    margin-right: 0;
    text-decoration: unset;
  }
  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 70px;
  }
  p {
    font-size: 15px;
    font-weight: normal;
  }
  a {
    margin: 20px;
    text-decoration: unset;
    font-size: larger;
  }
  #menu-header a:hover {
    text-decoration: underline;
  }
  img {
    width: 500px;
  }
  #header {
    display: flex;
    margin-right: 100px;
  }
  #menu-header {
    display: flex;
    justify-content: flex-end;
    width: 400vh;
  }
  #menu-header a {
    color: #000000;
  }
  #intro {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
  }
  #logo {
    width: 45px;
    height: 60px;
  }
  #collaborative {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 50px;
    background-color: #e9eaf0;
    display: grid;
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-gap: 10px;
  }
  #empowering {
    text-align: center;
    background-color: black;
  }
  #signup-area {
    padding-top: 100px;
    text-align: center;
  }
  #signup-area div {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  .empowering-header {
    color: #e9eaf0;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
  }
  .emp-grid-container {
    display: grid;
    grid-template-columns: repeat(6,77px);
    grid-gap: 40px 60px;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .emp-grid-item {
    width: 100%;
  }
  .special-item {
    padding-top: 30px;
  }
  .col-header {
    grid-area: header;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  .col-header-text {
    line-height: 1.5;
    font-size: 40px;
    font-weight: bold;
  }
  .sub-col {
    font-size: 20px;
  }
  .col-content {
    grid-area: content;
    margin-left: auto;
    margin-right: auto;
  }
  .col-content-grid {
    width: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .col-content-grid-item {
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }
  .col-content img {
    width: 300px;
    height: 300px
  }
  .col-content-text {
    text-align: left;
    font-weight: bold;
    line-height: 3;
    font-size: 25px;
  }
  .sub-content-col {
    text-align: left;
    font-size: 15px;
  }
  .col-footer {
    grid-area: footer;
  }
  .description {
    width: 500px;
    line-height: 1;
  }
  .img-desc {
    width: 500px;
  }
  .desc-open {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .desc-end {
    font-size: larger;
    margin-top: 30px;
  }
  .register-btn {
    background: #000000;
    color: #ffffff;
    display: inline-block;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 40px 0px 10px 0px;
  }
  .signup-gg {
    width: 200px;
    padding: 10px 0px 10px 0px;
    font-size: 15px !important;
    margin: 0px !important;
  }
  .svg {
    width: 15px;
    margin-right: 10px;
  }
  .btn-common {
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-gg {
    display: flex;
    margin: 0px 10px 0px 20px !important;
  }
  .signup-connect {
    font-size: 20px !important;
    font-weight: lighter !important;
    margin: 0px !important;
  }
  .input-form {
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    width: 300px;
    height: 30px;
  }
  .input-form:focus {
    border: 3px solid rgb(54, 57, 223);
    border-radius: 8px;
  }
  .input-area {
    margin: 0px !important;
  }
  .create-btn {
    width: 270px;
  }
  .login-btn {
    margin: 0px;
  }
  © 2021 GitHub, Inc.